<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<f:view>
<ui:composition template="/WEB-INF/templates/basicTemplate.xhtml">
    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value="Usuário"></h:outputText>
                <h:inputText value="#{login.nome}"></h:inputText>
                <h:outputText value="Senha"></h:outputText>
                <h:inputSecret value="#{login.senha}"></h:inputSecret>
            </h:panelGrid>
            <h:commandButton value="Login" action="logar"></h:commandButton>
        </h:form>
    </ui:define>
</ui:composition>
</f:view>
</html>